@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.links {
  font-size: 1.35rem;
  height: 7rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links__link {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  padding-right: 195px;
}

.links__link--logo {
  padding-left: 335px;
}

.links__link--1 {
  display: block;
  position: relative;
  padding: 5px;
}

.links__link--1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: -webkit-transform 650ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 650ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 650ms cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 650ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.links__link--1:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.links a {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  padding: 5px;
}

span {
  color: rgba(235, 92, 230, 0.51);
  font-size: 1.5rem;
}

.purple-bar {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.purple-bar--1 {
  position: relative;
  width: 410px;
  height: 530px;
  background-color: #446380;
  margin-left: 170px;
  margin-top: 90px;
}

.purple-bar--img {
  width: 410px;
  height: 530px;
  position: absolute;
  left: 50px;
  top: 50px;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 290px;
  color: #fff;
  padding-top: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
}

.heading button {
  z-index: 1;
}

.heading__3 {
  font-size: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
  font-weight: 300;
  color: #cccccc;
}

.heading__1 {
  font-size: 2.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 4rem;
  padding-top: 30px;
}

.heading__button {
  margin-top: 100px;
  background: none;
  border: 3px solid #fff;
  font-size: 1rem;
  padding: 15px 60px;
  border-radius: 100px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.heading__button:hover {
  color: black;
}

.heading__button:hover::before {
  width: 100%;
}

.heading__button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.circle__1 {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-color: rgba(235, 92, 230, 0.51);
  position: absolute;
  opacity: 0.2;
  -webkit-transform: translate(1650px, -70px);
          transform: translate(1650px, -70px);
}

.circle__2 {
  width: 700px;
  height: 700px;
  border-radius: 100%;
  background-color: rgba(235, 92, 230, 0.66);
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: translate(1550px, -170px);
          transform: translate(1550px, -170px);
}

.sayılar__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: space-around;
  margin-left: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 82px;
}

.sayılar {
  list-style: none;
}

.sayılar li {
  padding-bottom: 1.5rem;
}

.sayılar li.active a {
  color: purple;
}

.sayılar a {
  text-decoration: none;
  font-size: 3rem;
  color: white;
}

.bölüm-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bölüm-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bölüm-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.move {
  -webkit-animation-name: moveIn;
          animation-name: moveIn;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
}

@-webkit-keyframes moveIn {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveIn {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */